@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'Nunito Sans', sans-serif;
}

/* Enable dark mode variant */
@variant dark (&:where(.dark, .dark *));

html {
	overflow: scroll;
	scrollbar-color: rgb(119, 202, 240) transparent;
	scrollbar-width: thin;
}

.transition-text {
	transition-property: color;
	transition-duration: 1000ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}